@import "tailwindcss";
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap'); */
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

body{
    font-family: 'Poppins', sans-serif;
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  25% { transform: translateX(-8px); }
  50% { transform: translateX(8px); }
  75% { transform: translateX(-8px); }
}

.animate-shake {
  animation: shake 0.3s ease;
}
